
.icon-trash:before { content: '\e800'; } /* '' */
.icon-trash-2:before { content: '\e801'; } /* '' */
.icon-ok:before { content: '\e802'; } /* '' */
.icon-ok-circled:before { content: '\e803'; } /* '' */
.icon-ok-circled2:before { content: '\e804'; } /* '' */
.icon-ok-circle:before { content: '\e805'; } /* '' */
.icon-trash-1:before { content: '\f083'; } /* '' */
.icon-ok-squared:before { content: '\f14a'; } /* '' */